body {
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar {
  font-family: "Poller One", Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
}

#navbar div {
  padding: 5px;
}

#container {
  align-items: center;
  cursor: default;
  display: flex;
  flex-grow: 2;
  justify-content: center;
}

/* #single-contact {
  display: flex;
} */

/* #contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
} */

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #222222;
}

th,
td {
  padding: 5px;
}

tr:hover {
  background-color: #f2f2f2;
}

img {
  border-radius: 15px;
  height: 365px; 
}
.nameId {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  margin-bottom:10px;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* flex-grow:1; */
  margin: 15px;
}

.puppy {
  /* border: 1px solid black; */
  box-shadow: 0 0 10px lightgray;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  
}
.buttons {
  display: flex;
  justify-content: center;
}
